#chocolate_rains
  - for (i = 0; i < 30; i++)
    .heart
      .ring
      .inner
        .regular
          .movable
            .left
            .right
        .reverse
          .movable
            .left
            .right

